/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/


/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
	width: 481px;
}


/*********************
HEADER SYTLES
*********************/
   
.site-header {
	#tagline {
		padding: .75em 1em;
	}	
}

/*********************
NAVIGATION STYLES
*********************/
.main-menu ul#menu-main-menu {
	float: none;
	zoom: 1;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	li {
		&#menu-item-13 a {
			border: none;
		}
	}
}

/*********************
Pages
*********************/

.fpo .fpo-left, .fpo .fpo-right {
	#virginia, #tennessee {
		height: auto;
	}
}		

.image-tiles {
	.post {
		&:nth-of-type(4n+1) {
			width: 327px;
		}
		&:nth-of-type(4n+2) {
			width: 140px;
		}
		&:nth-of-type(4n+3) {
			width: 140px;
		}
		&:nth-of-type(4n+4) {
			width: 327px;
		}
	}
}