/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 860px;
}	

/*********************
NAVIGATION STYLES
*********************/

.main-menu {
	ul#menu-main-menu li {
		width: auto;
		a {
			padding: 12px 29px;
		}
		&:last-child a{
			padding-right: 2.25em;
		}
	}
	ul.social-icons {
		li a {
			padding: 12px 15px;
		}
		li:last-child a {
			padding-left: 17px;
		}
	}

}

/*********************
Pages
*********************/
.fpo .fpo-left p, .fpo .fpo-right p {
	min-height: 20em;
}

.image-tiles {
	.post {
		&:nth-of-type(4n+1) {
			width: 590px;
		}
		&:nth-of-type(4n+2) {
			width: 256px;
		}
		&:nth-of-type(4n+3) {
			width: 256px;
		}
		&:nth-of-type(4n+4) {
			width: 590px;
		}
	}
}